$fbr-primary: mat-palette($mat-deep-purple, 700, 300, 900);
$fbr-accent: mat-palette($mat-light-blue, 300);
$fbr-warn: mat-palette($mat-pink, 600);

$fbr-theme: mat-light-theme($fbr-primary, $fbr-accent, $fbr-warn);
