<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 rtl>{{ "fbr.resume.skills" | translate }}</h1>
    </div>
  </div>
  <div class="row align-items-end">
    <div
      *ngFor="let skill of skills"
      class="col-sm-6 col-md-4 col-lg-4"
      [ngClass]="routeAnimationsElements"
    >
      <mat-card fbrMaterialElevation>
        <mat-card-header>
          <div mat-card-avatar class="card-header-image">
            <fa-icon [icon]="skill.icon" [class]="skill.css"></fa-icon>
          </div>
          <mat-card-title>
            {{ skill.name | translate }}
          </mat-card-title>
          <mat-card-subtitle class="d-none d-sm-flex d-md-flex">{{
            skill.description | translate
          }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-progress-bar
            mode="determinate"
            color="accent"
            [value]="skill.level"
          ></mat-progress-bar>
          <mat-card-actions class="d-flex">
            <a [href]="skill.github" target="_blank" rel="noopener noreferrer"
              ><fa-icon [icon]="['fab', 'github']"></fa-icon
            ></a>
            <a [href]="skill.info" target="_blank" rel="noopener noreferrer"
              ><fa-icon icon="info-circle"></fa-icon
            ></a>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ "fbr.resume.experiences" | translate }}</h1>
    </div>
  </div>
  <div class="row">
    <div
      *ngFor="let experience of experiences"
      [ngClass]="routeAnimationsElements"
    >
      <mat-card fbrMaterialElevation>
        <mat-card-title>
          {{ experience.company }}
          <span>
            {{ experience.period }}
          </span>
        </mat-card-title>
        <mat-card-subtitle>
          {{ experience.role | translate }}
        </mat-card-subtitle>
        <mat-card-content>
          <p>{{ experience.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>{{ "fbr.resume.certifications" | translate }}</h2>
    </div>
  </div>
  <div class="row" [ngClass]="routeAnimationsElements">
    <div class="col-md-4">
      <iframe
        name="acclaim-badge"
        allowTransparency="true"
        frameborder="0"
        id="embedded-badge-kubernetes"
        scrolling="no"
        [src]="
          'https://www.youracclaim.com/embedded_badge/357851e5-2cc5-4aaf-bb21-95946a51a718'
            | safeUrl
        "
        title="View my verified achievement on Acclaim."
      ></iframe>
    </div>
    <div class="col-md-4">
      <iframe
        name="acclaim-badge"
        allowTransparency="true"
        frameborder="0"
        id="embedded-badge-kubernetes"
        scrolling="no"
        [src]="
          'https://www.youracclaim.com/embedded_badge/83ce85bb-4ac3-4a08-ba20-b757204d736f'
            | safeUrl
        "
        title="View my verified achievement on Acclaim."
      ></iframe>
    </div>
  </div>
</div>
