@import "../../../../styles-variables";

h1 {
  text-align: left;
  font-size: 2em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

.container {
  margin-top: 10px;

  iframe {
    border-radius: 10px;
    width: 180px;
    height: 270px;
  }
}

.aws-icon {
  color: #ff9900;
}

.gcp-icon {
  color: #4285f4;
}

.azure-icon {
  color: #008ad7;
}

.kubernetes-icon {
  color: #326ce5;
}

.terraform-icon {
  color: #623ce4;
}

.helm-icon {
  color: #0f1689;
}

.ansible-icon {
}

.docker-icon {
  color: #0db7ed;
}

.nodejs-icon {
  color: #3c873a;
}

.angular-icon {
  color: #a6120d;
}

.java-icon {
  color: #f89820;
}

mat-card {
  margin: 0 0 20px 0;

  .card-header-image {
    background-size: cover;
  }

  mat-card-header {
    fa-icon {
      font-size: 35px;
      width: 40px;
    }
    @media (max-width: map-get($grid-breakpoints, sm)) {
      fa-icon {
        font-size: 25px;
      }
    }
  }

  mat-card-actions fa-icon {
    font-size: 25px;
    width: 35px;
    margin-left: 10px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-content {
      min-height: auto;
    }
  }
}
